__pycache__
data
output
debug.py
*.pth
*.pt
*.egg-info
*.sh
.idea/deployment.xml
.idea/misc.xml
.idea/modules.xml
.idea/ShapeInfo_pruning.iml
.idea/vcs.xml
.idea/webServers.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
